@model CalculatorModel

<h1 class="text-center">Interest calculator</h1>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form asp-action="Calculate" method="post">
                <div class="mb-3">
                    <label class="form-label" asp-for="PurchaseAmount">Purchase Amount:</label>
                    <input class="form-control" asp-for="@Model.PurchaseAmount" />
                </div>

                <div class="mb-3">
                    <label class="form-label" asp-for="Installments">Installments:</label>
                    <input class="form-control" asp-for="@Model.Installments" />
                </div>

                <div class="mb-3">
                    <label class="form-label" asp-for="Interest">Interest rate (%):</label>
                    <input class="form-control" asp-for="@Model.Interest">
                </div>

                <div class="mb-3">
                    <label class="form-label" asp-for="InterestType">Interest Type:</label>
                    <select class="form-select" asp-for="InterestType">
                        <option value="0">Effective Annual Rate</option>
                        <option value="1">Monthly</option>
                    </select>
                </div>

                <button class="btn btn-primary" type="submit">Calculate</button>
            </form>
        </div>
    </div>
</div>
